@{
    Page.Title = ViewBag.Home.Title;
}

@section Header {
    <h2>@ViewBag.Home.Title</h2>
    <a href="@Url.Action("About")" class="ui-btn-right" data-icon="info">About</a>
}

<h2>jQuery Mobile</h2>

<p>TODO: Get your jiggy on</p>
<a href="@Url.Action("OrderMain","Order")" class=""> Order </a>
@foreach (var t in ViewBag.SureyMastList)
{
    <ul>
    <li>@t.ID</li> 
    <li>@t.Name</li>
    </ul>
}
<p>
<h3>@ViewBag.Post.Title</h3>
<p>
    @ViewBag.Post.Content
</p>
</p>
@section Footer{

Here is footer!

}